body {
    background-color: #fafafa;
}

nav {
    background-color: #d10070;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px rgb(120, 120, 120);
    border-radius: 10px;
}

div {
    color: #000;
}

a {
    text-decoration: none;
    color: #d10070;
}

a:hover {
    text-decoration: underline;
}

.ourTeam {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.list {
    list-style-type: none;

    border: 2.5px solid #d10070;
    border-radius: 10px;
    margin: 30px;
    margin-top: 0;
    padding: 20px;
}

.aboutUs {
    text-align: center;
    margin: 30px;
    border-bottom: 2.5px solid #d10070;
}